
<section class="py-3">

    <!-- Add -->
    <div class="d-flex justify-content-end mb-3" style="margin-top: 10px;margin-right: 3rem;">
        <button  type="button" class="btn btn-outline-primary" data-bs-toggle="modal"  *ngIf="showAddButton; else addPopUp" (click)="showAddPopUpFunction()">
            <i class="fa">&#xf02d;</i>Add Book</button>
    </div>

    <ng-template #addPopUp>
        <div id="lightBoxContainer" class="d-flex justify-content-center align-items-center" (click)="onLightBoxContainerClick($event)">            
            
            <div class="icon btn-icon d-flex justify-content-center align-items-center position-absolute" (click)="closeAddPopUpFunction()" style="top: 10%; right: 32%;">
                <i class="fa-solid fa-xmark"></i>
              </div>
              <div id="addCatogryPopUp" class="w-25 bg-white p-5 col-md-8 col-sm-8 rounded shadow-lg" style="color: black; position: relative;">
            <form [formGroup]="bookForm" (ngSubmit)="submitAddBookForm(bookForm); closeAddPopUpFunction()">
                <div class="form-group">           
                         <label for="bookName" class="form-label">Book Name</label>
                         <div class="input-group">
                         <input formControlName="name" type="text" class="form-control" id="bookName">
                         </div>
                       <p class="text-danger" *ngIf="bookForm.get('name')?.errors?.['required'] && bookForm.get('name')?.touched">Book name is required</p>
                       </div> 
                    
                       <div class="form-group">   
                             <label class="form-label">Category</label>
                             <div class="input-group">
                             <select formControlName="category" class="form-select" aria-label="Default select example">
                  <option [value]="category.Name" *ngFor="let category of trendingCategories, let i = index">{{category.Name}}</option>
                </select>
              </div>
            <p class="text-danger" *ngIf="bookForm.get('category')?.errors?.['required'] && bookForm.get('category')?.touched">Book category is required</p>
            </div> 
         
              <div class="form-group">    
                            <label for="bookName" class="form-label">Author</label>
                            <div class="input-group">
                            <select formControlName="author" class="form-select" aria-label="Default select example">
                  <option [ngValue]="{firstName:author.firstName, lastName:author.lastName}" *ngFor="let author of trendingAuthors, let i = index">{{author.firstName}} {{author.lastName}}</option>
                </select>
              </div>
              <p class="text-danger" *ngIf="bookForm.get('author')?.errors?.['required'] && bookForm.get('author')?.touched">Book author is required</p>
            </div> 
             
            <div class="form-group">   
                             <label for="image" class="form-label">Image</label>
                             <div class="input-group">
                             <input formControlName="photo" (change)="uploadImage($event)" type="file" class="form-control" id="image">
              </div>
              <p class="text-danger" *ngIf="bookForm.get('photo')?.errors?.['required'] && bookForm.get('photo')?.touched">Book photo is required</p>
            </div>

              <div class="text-center">
              <button [disabled]="bookForm.invalid" type="submit" class="btn btn-primary">Add Book</button>
            </div>
            </form>
          </div>
        </div>
      </ng-template>

    <!-- Table -->
    <table class="table w-75 m-auto  text-center text-white mb-3">
        <thead>
            <tr>
             <th>Id</th>
            <th>Photo</th>
            <th>Name</th>
            <th>Category</th>
            <th>Author</th>
            <th>Action</th>  

        </tr>
           
        </thead>
        <tbody>
            <tr *ngFor="let book of trendingBooks, let i = index">
                <td>{{i+1}}</td>
                <td><img class="image" [src]="book.photo" alt="anything"></td>
                <td>{{book.name}}</td>
                <td>{{book.categoryId.Name}}</td>
                <td>{{book.authorId.firstName}} {{book.authorId.lastName}}</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" (click)="  deleteBook(book._id)" >
                          <i class="fa">&#xf1f8;</i>
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" (click)="showUpdatePopUpFunction(book._id, i)">
                          <i class="fa">&#xf044;</i>
                        </button>
                      </div>
            </tr>
        </tbody>
    </table>

    <!-- pagintaion -->
    <div class="d-flex justify-content-center align-items-center ">
        <div class="icon d-flex justify-content-center align-items-center mx-1" (click)="prevPage()">
            <i class="fa-solid fa-chevron-left"></i>
        </div>
        
        <div class="d-flex justify-content-center align-items-center  current-page mx-1">
            {{currentPage}}
        </div>
        <div class="icon d-flex justify-content-center align-items-center mx-1 " (click)="nextPage()">
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    


    
    <!-- Update -->
    <div class="update-popup" *ngIf = 'showUpdatePopUp'>
        <div id="lightBoxContainer" class="d-flex justify-content-center align-items-center">
            <!-- <button class="btn btn-info position-absolute" (click) = 'closeUPopUp()'>close</button> -->
            <div class="icon btn-icon d-flex justify-content-center align-items-center position-absolute" (click) = 'closeUpdatePopUpFunction()'>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div id="updateCatogryPopUp" class="w-25 bg-black p-5 col-md-8 col-sm-8">
                <form [formGroup] = 'bookForm' (ngSubmit)="submitUpdateCategoryForm(bookForm)">
                    <p *ngIf="updateMessageS" class="message py-2 text-center mb-2" style="color: #28a745;">{{updateMessageS}}</p>
                    <p *ngIf="updateMessageF" class="message py-2 text-center mb-2 text-danger">{{updateMessageF}}</p>

                    <div class="mb-3">
                        <label for="bookName" class="form-label">Book Name</label>
                        <input formControlName='name' type="text" class="form-control" id="bookName">
                      </div>
  
                      <div class="mb-3">
                          <label class="form-label">Category</label>
                          <select formControlName="category" class="form-select" aria-label="Default select example">
                              <option  [value]="category.Name" *ngFor="let category of trendingCategories, let i = index">{{category.Name}}</option>
                          
                          </select>
                      </div>
                      <div class="mb-3">
                          <label for="bookName" class="form-label">Author</label>
                          <select formControlName='author'  class="form-select" aria-label="Default select example" >
                              <option  [ngValue] = "{firstName:author.firstName, lastName:author.lastName}" *ngFor="let author of trendingAuthors, let i = index">{{author.firstName}} {{author.lastName}}</option>
                          </select>
                      </div>
                      <div class="mb-3">
                          <label for="image" class="form-label">Image</label>
                          <input formControlName='photo'  (change)="uploadImage($event)" type="file" class="form-control" id="image">
                      </div>

                    <button [disabled]= 'bookForm.invalid'  type="submit" class="btn btn-primary">Update Category</button>
                  </form>

            </div>
        </div>
    </div>

    
</section>

