
<div class="w-50 m-auto py-5">
    <form [formGroup] = 'registerForm' (ngSubmit)='submitRegisterForm(registerForm)'>
        <div class="mb-5">
            <label for="firstName">First_name:</label>
            <input formControlName='firstName' class="form-control mb-2" type="text" id="firstName">
            <p class="text-danger" *ngIf="registerForm.get('firstName')?.errors?.['required'] && registerForm.get('firstName')?.touched">firstName is required</p>
            <p class="text-danger" *ngIf="registerForm.get('firstName')?.errors?.['minlength'] && registerForm.get('firstName')?.touched">firstName minLength is 3</p>
            <p class="text-danger" *ngIf="registerForm.get('firstName')?.errors?.['maxlength'] && registerForm.get('firstName')?.touched">firstName maxLength is 20</p>
        </div>

        <div class="mb-5">
            <label for="lastName">lastName:</label>
            <input formControlName='lastName' class="form-control mb-2" type="text" id="lastName">
            <p class="text-danger" *ngIf="registerForm.get('lastName')?.errors?.['required'] && registerForm.get('lastName')?.touched">lastName is required</p>
            <p class="text-danger" *ngIf="registerForm.get('lastName')?.errors?.['minlength'] && registerForm.get('lastName')?.touched">lastName minLength is 3</p>
            <p class="text-danger" *ngIf="registerForm.get('lastName')?.errors?.['maxlength'] && registerForm.get('lastName')?.touched">lastName maxLength is 20</p>
        </div>

        <div class="mb-5">
            <label for="DOB">DOB:</label>
            <input formControlName='DOB' class="form-control mb-2" type="date" id="DOB">
            <p class="text-danger" *ngIf="registerForm.get('DOB')?.errors?.['required'] && registerForm.get('DOB')?.touched">DOB is required</p>
            <!-- <p class="text-danger" *ngIf="registerForm.get('DOB')?.errors?.['max'] && registerForm.get('DOB')?.touched">Max age is 80</p> -->
            <!-- <p class="text-danger" *ngIf="registerForm.get('age')?.errors?.['pattern'] && registerForm.get('age')?.touched">Age should be a number</p> -->
        </div>

        <div class="mb-5">
            <label for="photo" class="form-label">photo</label>
            <input formControlName='photo'  (change)="uploadImage($event)" type="file" class="form-control" id="photo">
            <p class="text-danger" *ngIf="registerForm.get('photo')?.errors?.['required'] && registerForm.get('photo')?.touched">photo is required</p>
        </div>

        <div class="mb-5">
            <label for="email">Email:</label>
            <input formControlName='email' class="form-control mb-2" type="email" id="email">
            <p class="text-danger" *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched">Email is required</p>
            <p class="text-danger" *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched">Invalid Email Format</p>
        </div>

        <div class="mb-5">
            <label for="password">Password:</label>
            <input formControlName='password' class="form-control mb-2" type="password" id="password">
            <p class="text-danger" *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">Password is required</p>
            <p class="text-danger" *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched">Password minLength is 8</p>
            <p class="text-danger" *ngIf="registerForm.get('password')?.errors?.['maxlength'] && registerForm.get('password')?.touched">Password maxLength is 15</p>
            <p class="text-danger" *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched">Password must start with capital letter</p>
        </div>
        
        <div class="mb-5">
            <label for="password">re-enter password:</label>
            <input formControlName='cPassword' class="form-control mb-2" type="password" id="cPassword">
            <p class="text-danger" *ngIf="registerForm.get('cPassword')?.errors?.['required'] && registerForm.get('cPassword')?.touched">Password is required</p>
            <p class="text-danger" *ngIf="registerForm.get('cPassword')?.errors?.['minlength'] && registerForm.get('cPassword')?.touched">Password minLength is 8</p>
            <p class="text-danger" *ngIf="registerForm.get('cPassword')?.errors?.['maxlength'] && registerForm.get('cPassword')?.touched">Password maxLength is 15</p>
            <p class="text-danger" *ngIf="registerForm.get('cPassword')?.errors?.['pattern'] && registerForm.get('cPassword')?.touched">Password must start with capital letter</p>
        </div>

        <button [disabled]= 'registerForm.invalid' class="btn btn-info" type="submit">Register</button>

    </form>
</div>
