
<section class="py-3">

    <!-- Add -->
    <div class="d-flex justify-content-end mb-3 " style="margin-top: 10px;margin-right: 3rem;">
        <button  type="button" class="btn btn-outline-primary" data-bs-toggle="modal" *ngIf="showAddButton; else addPopUp" (click)="showAddPopUpFunction()">
            <i class="fa">&#xf46d;</i> Add Category
        </button>
    </div>

    <ng-template #addPopUp>
        <div id="lightBoxContainer" class="d-flex justify-content-center align-items-center" (click)="onLightBoxContainerClick($event)">            
            
            <div class="icon btn-icon d-flex justify-content-center align-items-center position-absolute" (click)="closeAddPopUpFunction()" style="top: 23%; right: 35%;">
                <i class="fa-solid fa-xmark"></i>
              </div>
              <div id="addCatogryPopUp" class="w-25 bg-white p-5 col-md-8 col-sm-8 rounded shadow-lg" style="color: black; position: relative;">
    <form [formGroup]="categoryForm" (ngSubmit)="submitAddCategoryForm(categoryForm); closeAddPopUpFunction()">
              
        <div class="form-group">   
                    <label for="categoryName" class="form-label">Category Name</label>
                  <div class="input-group">
                       <input formControlName="Name" type="text" class="form-control" id="categoryName">
                    </div>
                       <p class="text-danger" *ngIf="categoryForm.get('Name')?.errors?.['required'] && categoryForm.get('categoryName')?.touched">Category Name is required</p>
                      </div>
                      
                      <br>
        <div class="text-center">
        <button [disabled]="categoryForm.invalid" type="submit" class="btn btn-info mt-3">Add Category</button>
        </div>
    </form>
</div>
        </div>
    </ng-template>

    <!-- Table -->
    <table class="table w-75 m-auto  text-center text-white mb-3 table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th> 
            <th>Action</th>  
            </tr>
         
        </thead>
        <tbody>
            <tr *ngFor="let category of trendingCategories, let i = index">
                <td ><span>{{i+1}}</span></td>
                <td><span>{{category.Name}}</span></td>
                <td>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" (click)="deleteCategory(category._id)">
                          <i class="fa">&#xf1f8;</i>
                        </button>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"  (click)="showUpdatePopUpFunction(category._id, i)">
                          <i class="fa">&#xf044;</i>
                        </button>
                      </div>
            </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="error" class="err mt-3 d-flex justify-content-center">
        <p class="text-danger">{{error}}</p>
    </div>

    <!-- pagintaion -->
<div class="d-flex justify-content-center align-items-center">
    <div class="icon d-flex justify-content-center align-items-center mx-1" ng-click="prevPage()">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    
    <div class="d-flex justify-content-center align-items-center current-page mx-1">
        {{currentPage}}
    </div>
    
    <div class="icon d-flex justify-content-center align-items-center mx-1" ng-click="nextPage()">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>

    
    <!-- Update -->
    <div class="update-popup" *ngIf = 'showUpdatePopUp'>
        <div id="lightBoxContainer" class="d-flex justify-content-center align-items-center"(click)="onLightBoxContainerClickUpdate($event)">
            <div class="icon btn-icon d-flex justify-content-center align-items-center position-absolute" (click) = 'closeUpdatePopUpFunction()'style="top: 23%; right: 35%;">
                <i class="fa-solid fa-xmark"></i>
            </div>
            
            <div id="updateCatogryPopUp" class="w-25 bg-white p-5 col-md-8 col-sm-8 rounded shadow-lg" style="color: black; position: relative;">
                <form [formGroup] = 'updateCategoryForm' (ngSubmit)="submitUpdateCategoryForm(updateCategoryForm); closeUpdatePopUpFunction()">

                 <div class="form-group">   
                     <label for="categoryName" class="form-label">Category Name</label>
                      <div class="input-group">
                           <input formControlName="Name" type="text" class="form-control" id="categoryName">
                        </div>
                           <p class="text-danger" *ngIf="updateCategoryForm.get('Name')?.errors?.['required'] && updateCategoryForm.get('Name')?.touched">Category Name is required</p>
                          </div>
                   
                          <br>
                    <div class="text-center">
                    <button [disabled]="updateCategoryForm.invalid" type="submit" class="btn btn-info mt-3">Update Category</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    
</section>
