<section>
    <div class="overlay py-5">
<div class="container my-4" id="base" >
    <div class="row">
        <div class="col-md-3">
            <tbody>
               
                 <img src="{{book.photo}}" alt="">
                 
                 <div class="form-group">
                    <div class="input-group">
                      <select  id="userbook" class="form-control" formControlName="bookCategory">
                        <option value="reading" [selected]="book.shelve === 'reading'">Reading</option>
                        <option value="want-to-read" [selected]="book.shelve === 'want-to-read'">Want to read</option>
                        <option value="read" [selected]="book.shelve === 'read'">Read</option>
                      </select>
                    </div>
                  </div>
                 
                   
                
                    <span *ngFor="let star of stars" (mouseover)="onStarHover(star)" (mouseout)="onStarLeave(star)" (click)="onStarClick(star)">
                      <i class="fa" [ngClass]="{'star-hover': star.hover}">
                          {{ star.filled ? '★' : '✰' }}
                      </i>
                  </span>
                  
                  <td>
                    <i [attr.data-star]="book.avgRate"></i>
                   
                    <p>{{'Rating:' +book.ratingNumber}}</p>
                    
                  </td>
              
              </tbody>
           
        </div>
        
        <div class="col-md-8 mt-3">
            <h2 class="text-capitalize">{{book.name}} </h2>
        

            <p class="tagline">
                {{book.authorId.firstName + ' ' + book.authorId.lastName}}
            </p>
            <div class="d-flex mb-3">
            
            </div>
            <div class="my-4">
                <p>  {{book.categoryId.Name}}</p>
               
                <p>  {{book.reviews.comment}}</p>
              
            </div>
     
           
            
        </div>
    </div>
</div>
</div>
</section>